
section{
    article{
        margin-top: 3vh;
        margin-left: 5%;
        img {
            max-width: 350px;
        }
        a {
            font-family: 'roboto_b';
            color: #219653;
            font-size: 1rem;
            padding: 8px 16px;
            border: 3px solid #6FCF97;
            border-radius: 8px;
            text-decoration: none;

            &:hover {
                background-color: #6FCF97;
                color: white;
            }
        }
    }
    .blogPreviewItems_wrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap: 24px;
        margin-top: 2vh;
        padding-inline: 5%;
    }
}


