button{
    padding: 8px 16px;
    font-family: 'roboto_b';
    font-size: 1rem;
    color: #219653;
    font-weight: bold;
    border-radius: 16px;
    border: 3px solid #6FCF97;;
    background-color: white;
    &:hover{
        background-color: #6FCF97;
        color: white;
        cursor: pointer;
    }
}